In [2]:
# Cargar las librerias que se usaran
import pandas as pd
import numpy as np

In [8]:
lista=[2,3,4]

In [9]:
lista

[2, 3, 4]

In [7]:
a=np.array([1,2,3])
a

[1 2 3]

In [12]:
# Obtener los datos
df=pd.read_csv("/content/empleados.csv")

In [13]:
df

   id_empleado     nombre departamento  salario
0            1        Ana           IT     1200
1            2       Luis       Ventas     1000
2            3      María           IT     1300
3            4      Pedro    Marketing     1100
4            5      Sofía       Ventas     1050
5            6     Carlos           IT     1400
6            7      Lucía    Marketing     1150
7            8      Jorge       Ventas      980
8            9  Valentina           IT     1500
9           10      Diego    Marketing     1080

In [10]:
ht=pd.read_csv("/content/sample_data/california_housing_train.csv")

In [11]:
ht

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [14]:
df.head()

   id_empleado nombre departamento  salario
0            1    Ana           IT     1200
1            2   Luis       Ventas     1000
2            3  María           IT     1300
3            4  Pedro    Marketing     1100
4            5  Sofía       Ventas     1050

In [15]:
df.tail()

   id_empleado     nombre departamento  salario
5            6     Carlos           IT     1400
6            7      Lucía    Marketing     1150
7            8      Jorge       Ventas      980
8            9  Valentina           IT     1500
9           10      Diego    Marketing     1080

In [18]:
df1=pd.read_csv("empleados_dot.csv",sep=';')

In [19]:
df1

   id_empleado     nombre departamento  salario
0            1        Ana           IT     1200
1            2       Luis       Ventas     1000
2            3      María           IT     1300
3            4      Pedro    Marketing     1100
4            5      Sofía       Ventas     1050
5            6     Carlos           IT     1400
6            7      Lucía    Marketing     1150
7            8      Jorge       Ventas      980
8            9  Valentina           IT     1500
9           10      Diego    Marketing     1080

In [21]:
print(df1)

   id_empleado     nombre departamento  salario
0            1        Ana           IT     1200
1            2       Luis       Ventas     1000
2            3      María           IT     1300
3            4      Pedro    Marketing     1100
4            5      Sofía       Ventas     1050
5            6     Carlos           IT     1400
6            7      Lucía    Marketing     1150
7            8      Jorge       Ventas      980
8            9  Valentina           IT     1500
9           10      Diego    Marketing     1080

In [28]:
df.columns

Index(['id_empleado', 'nombre', 'departamento', 'salario'], dtype='object')

In [35]:
df2=pd.read_csv("empleados_sh.csv",sep=';',header=None,names=['id_empleado','nombre','departamento','salario'])

In [36]:
df2

   id_empleado     nombre departamento  salario
0            1        Ana           IT     1200
1            2       Luis       Ventas     1000
2            3      María           IT     1300
3            4      Pedro    Marketing     1100
4            5      Sofía       Ventas     1050
5            6     Carlos           IT     1400
6            7      Lucía    Marketing     1150
7            8      Jorge       Ventas      980
8            9  Valentina           IT     1500
9           10      Diego    Marketing     1080

In [37]:
df3=pd.read_csv("empleados_NA.csv",sep=';',header=None,names=['id_empleado','nombre','departamento','salario'])

In [38]:
df3

   id_empleado     nombre departamento  salario
0            1        Ana           IT     1200
1            2       Luis       Ventas     1000
2            3        NaN           IT     1300
3            4      Pedro    Marketing     1100
4            5        NaN       Ventas     1050
5            6     Carlos           IT     1400
6            7        NaN    Marketing     1150
7            8      Jorge       Ventas      980
8            9  Valentina           IT     1500
9           10      Diego    Marketing     1080

In [39]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_empleado   10 non-null     int64
 1   nombre        7 non-null      object
 2   departamento  10 non-null     object
 3   salario       10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 452.0+ bytes

In [43]:
df4=pd.read_csv("empleados_NA_1.csv",sep=';',header=None,names=['id_empleado','nombre','departamento','salario'],na_values=['na'])

In [44]:
df4

   id_empleado     nombre departamento  salario
0            1        Ana           IT     1200
1            2       Luis       Ventas     1000
2            3        NaN           IT     1300
3            4      Pedro    Marketing     1100
4            5        NaN       Ventas     1050
5            6     Carlos           IT     1400
6            7        NaN    Marketing     1150
7            8      Jorge       Ventas      980
8            9  Valentina           IT     1500
9           10      Diego    Marketing     1080

In [45]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_empleado   10 non-null     int64
 1   nombre        7 non-null      object
 2   departamento  10 non-null     object
 3   salario       10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 452.0+ bytes

In [55]:
df4['nombre'] = df4['nombre'].fillna('Leonardo')
df4

   id_empleado     nombre departamento  salario
0            1        Ana           IT     1200
1            2       Luis       Ventas     1000
2            3   Leonardo           IT     1300
3            4      Pedro    Marketing     1100
4            5   Leonardo       Ventas     1050
5            6     Carlos           IT     1400
6            7   Leonardo    Marketing     1150
7            8      Jorge       Ventas      980
8            9  Valentina           IT     1500
9           10      Diego    Marketing     1080

In [49]:
df4.to_csv('empleados_modificado.csv', index=False)

In [52]:
ventas=pd.read_excel("ventas.xlsx")

In [53]:
ventas

   id_empleado  region  ventas_mensuales
0            1   Norte              5000
1            2     Sur              4200
2            3   Norte              6100
3            4  Centro              4800
4            5     Sur              4500
5            6  Centro              7000
6            7   Norte              5200
7            8     Sur              4300
8            9  Centro              7500
9           10   Norte              4900

In [54]:
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_empleado       10 non-null     int64
 1   region            10 non-null     object
 2   ventas_mensuales  10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 372.0+ bytes

In [56]:
ventas['log_ventas_mensuales'] = np.log(ventas['ventas_mensuales'])
ventas

   id_empleado  region  ventas_mensuales  log_ventas_mensuales
0            1   Norte              5000              8.517193
1            2     Sur              4200              8.342840
2            3   Norte              6100              8.716044
3            4  Centro              4800              8.476371
4            5     Sur              4500              8.411833
5            6  Centro              7000              8.853665
6            7   Norte              5200              8.556414
7            8     Sur              4300              8.366370
8            9  Centro              7500              8.922658
9           10   Norte              4900              8.496990

In [61]:
ventas2=pd.read_excel("ventas.xlsx",sheet_name="Ventas_2026")

In [62]:
ventas2

   id_empleado  region  ventas_mensuales
0            1   Norte              5000
1            2     Sur              4200
2            3   Norte              6100
3            4  Centro              4800

In [66]:
url=r"https://es.wikipedia.org/wiki/Regiones_de_Chile"
tablas=pd.read_html(url, storage_options={'User-Agent': 'Mozilla/5.0'})
print(f"Number of tables found: {len(tablas)}")

Number of tables found: 5

In [70]:
tablas[3]

,Bandera,Región,Abreviatura Nacional,Población (2024) [8]​,Superficie (km²),Densidad (hab./km²),Capital,Mapa
0,NaN,Región de Arica y Parinacota,AP,244 569,16 873.3,14.49,Arica,NaN
1,NaN,Región de Tarapacá,TA,369 806,42 225.8,8.76,Iquique,NaN
2,NaN,Región de Antofagasta,AN,635 416,126 049.1,5.04,Antofagasta,NaN
3,NaN,Región de Atacama,AT,299 180,75 176.2,3.98,Copiapó,NaN
4,NaN,Región de Coquimbo,CO,832 864,40 579.9,20.57,La Serena,NaN
5,NaN,Región de Valparaíso,VA,1 896 053,16 396.1,115.64,Valparaíso,NaN
6,NaN,Región Metropolitana de Santiago,RM,7 400 741,15 403.2,480.47,Santiago,NaN
7,NaN,Región del Libertador General Bernardo O'Higgins,LI,987 228,16 387,60.24,Rancagua,NaN
8,NaN,Región del Maule,ML,1 123 008,30 296.1,37.07,Talca,NaN
9,NaN,Región de Ñuble,NB,512 289,13 178.5,38.87,Chillán,NaN
10,NaN,Región del Biobío,BI,1 613 059,23 890.2,67.52,Concepción,NaN
11,NaN,Región de La Araucanía,AR,1 010 423,31 842.3,31.73,Temuco,NaN
12,NaN,Región de Los Ríos,LR,398 230,18 429.5,21.61,Valdivia,NaN
13,NaN,Región de Los Lagos,LL,890 284,48 583.6,18.32,Puerto Montt,NaN
14,NaN,Región de Aysén del General Carlos Ibáñez del ...,AI,100 745,108 494.4,0.93,Coyhaique,NaN
15,NaN,Región de Magallanes y de la Antártica Chilena,MA,166 537,132 297.2,1.26,Punta Arenas,NaN

In [71]:
regiones=tablas[3]

In [72]:
regiones

,Bandera,Región,Abreviatura Nacional,Población (2024) [8]​,Superficie (km²),Densidad (hab./km²),Capital,Mapa
0,NaN,Región de Arica y Parinacota,AP,244 569,16 873.3,14.49,Arica,NaN
1,NaN,Región de Tarapacá,TA,369 806,42 225.8,8.76,Iquique,NaN
2,NaN,Región de Antofagasta,AN,635 416,126 049.1,5.04,Antofagasta,NaN
3,NaN,Región de Atacama,AT,299 180,75 176.2,3.98,Copiapó,NaN
4,NaN,Región de Coquimbo,CO,832 864,40 579.9,20.57,La Serena,NaN
5,NaN,Región de Valparaíso,VA,1 896 053,16 396.1,115.64,Valparaíso,NaN
6,NaN,Región Metropolitana de Santiago,RM,7 400 741,15 403.2,480.47,Santiago,NaN
7,NaN,Región del Libertador General Bernardo O'Higgins,LI,987 228,16 387,60.24,Rancagua,NaN
8,NaN,Región del Maule,ML,1 123 008,30 296.1,37.07,Talca,NaN
9,NaN,Región de Ñuble,NB,512 289,13 178.5,38.87,Chillán,NaN
10,NaN,Región del Biobío,BI,1 613 059,23 890.2,67.52,Concepción,NaN
11,NaN,Región de La Araucanía,AR,1 010 423,31 842.3,31.73,Temuco,NaN
12,NaN,Región de Los Ríos,LR,398 230,18 429.5,21.61,Valdivia,NaN
13,NaN,Región de Los Lagos,LL,890 284,48 583.6,18.32,Puerto Montt,NaN
14,NaN,Región de Aysén del General Carlos Ibáñez del ...,AI,100 745,108 494.4,0.93,Coyhaique,NaN
15,NaN,Región de Magallanes y de la Antártica Chilena,MA,166 537,132 297.2,1.26,Punta Arenas,NaN

In [73]:
regiones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Bandera                0 non-null      float64
 1   Región                 16 non-null     object
 2   Abreviatura Nacional   16 non-null     object
 3   Población (2024) [8]​  16 non-null     object
 4   Superficie (km²)       16 non-null     object
 5   Densidad (hab./km²)    16 non-null     float64
 6   Capital                16 non-null     object
 7   Mapa                   0 non-null      float64
dtypes: float64(3), object(5)
memory usage: 1.1+ KB

In [ ]:
url=r'https://es.wikipedia.org/wiki/Regiones_de_Chile'
tablas=pd.read_html(url, storage_options={'User-Agent': 'Mozilla/5.0'})
print(f"Number of tables found: {len(tablas)}")