In [ ]:
import pandas as pd

In [ ]:
serie=pd.Series([10,20,30,40], index=["a","b","c","d"])
print(serie)

a    10
b    20
c    30
d    40
dtype: int64

In [ ]:
serie["b"]

b    20
c    30
d    40
dtype: int64

In [ ]:
serie.iloc[1]

np.int64(20)

In [ ]:
serie2=serie*2
print(serie2)

a    20
b    40
c    60
d    80
dtype: int64

In [ ]:
serie3=pd.Series([10,20,30,40,50])
serie4=pd.Series([10,20,30,40])
print(serie4+serie3)

0    20.0
1    40.0
2    60.0
3    80.0
4     NaN
dtype: float64

In [ ]:
import pandas as pd

data = {
    'nombre': ['Ana', 'Juan', 'Maria', 'Pedro', 'Laura'],
    'edad': [25, 30, 22, 35, 28],
    'hijos': [2, 3, 2, 3, 2]
}
df = pd.DataFrame(data)
print(df)

  nombre  edad  hijos
0    Ana    25      2
1   Juan    30      3
2  Maria    22      2
3  Pedro    35      3
4  Laura    28      2

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.iloc[0:3,0]

0      Ana
1     Juan
2    Maria
Name: nombre, dtype: object

In [ ]:
df1=df[['nombre','edad']]
df1

  nombre  edad
0    Ana    25
1   Juan    30
2  Maria    22
3  Pedro    35
4  Laura    28

In [ ]:
df[df["edad"]>25]

  nombre  edad  hijos
1   Juan    30      3
3  Pedro    35      3
4  Laura    28      2

In [ ]:
ecommerce=pd.read_csv("Ecommerce.csv")

In [ ]:
ecommerce

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,katrina56@gmail.com,"172 Owen Divide Suite 497\nWest Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620145
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,hannahwilson@davidson.com,49791 Rachel Heights Apt. 898\nEast Drewboroug...,DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642

In [ ]:
ecommerce.head(10)

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
5,alvareznancy@lucas.biz,"645 Martha Park Apt. 611\nJeffreychester, MN 6...",FloralWhite,33.871038,12.026925,34.476878,5.493507,637.102448
6,katherine20@yahoo.com,"68388 Reyes Lights Suite 692\nJosephbury, WV 9...",DarkSlateBlue,32.021596,11.366348,36.683776,4.685017,521.572175
7,awatkins@yahoo.com,Unit 6538 Box 8980\nDPO AP 09026-4941,Aqua,32.739143,12.351959,37.373359,4.434273,549.904146
8,vchurch@walter-martinez.com,"860 Lee Key\nWest Debra, SD 97450-0495",Salmon,33.987773,13.386235,37.534497,3.273434,570.200409
9,bonnie69@lin.biz,"PSC 2734, Box 5255\nAPO AA 98456-7482",Brown,31.936549,11.814128,37.145168,3.202806,427.199385

In [ ]:
ecommerce.tail(10)

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
490,brian28@sanchez.org,"7446 Mary Ferry\nLake Sherryfurt, GA 49066-0207",GhostWhite,34.695591,11.608997,37.684877,3.163092,510.401388
491,leonardhancock@hotmail.com,64147 Alexander Station Apt. 474\nEast Jasonvi...,SeaShell,34.343922,11.693058,36.812934,3.447093,510.501478
492,davidsonkathleen@gmail.com,"70128 Zimmerman Overpass\nRobertsshire, VA 59860",DarkBlue,33.680937,11.201570,37.835448,2.208814,403.819520
493,nathan84@lowery.net,"01242 Stephanie Ways Suite 003\nChurchville, M...",MediumSeaGreen,32.060914,12.625433,35.539142,5.412358,627.603319
494,kellydeborah@chan.biz,"354 Sanchez Wall Suite 884\nJuliabury, VI 39735",DarkTurquoise,33.431097,13.350632,37.965972,2.768852,510.661792
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,katrina56@gmail.com,"172 Owen Divide Suite 497\nWest Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620145
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,hannahwilson@davidson.com,49791 Rachel Heights Apt. 898\nEast Drewboroug...,DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642

In [ ]:
ecommerce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email                 500 non-null    object
 1   Address               500 non-null    object
 2   Avatar                500 non-null    object
 3   Avg. Session Length   500 non-null    float64
 4   Time on App           500 non-null    float64
 5   Time on Website       500 non-null    float64
 6   Length of Membership  500 non-null    float64
 7   Yearly Amount Spent   500 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.4+ KB

In [ ]:
ecommerce.describe()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
count,500.000000,500.000000,500.000000,500.000000,500.000000
mean,33.053194,12.052488,37.060445,3.533462,499.314038
std,0.992563,0.994216,1.010489,0.999278,79.314782
min,29.532429,8.508152,33.913847,0.269901,256.670582
25%,32.341822,11.388153,36.349257,2.930450,445.038277
50%,33.082008,11.983231,37.069367,3.533975,498.887875
75%,33.711985,12.753850,37.716432,4.126502,549.313828
max,36.139662,15.126994,40.005182,6.922689,765.518462

In [ ]:
ecommerce["Avatar"].value_counts(normalize=True)

Avatar
Teal              0.014
Cyan              0.014
CadetBlue         0.014
GreenYellow       0.014
SlateBlue         0.014
                  ...
PaleGoldenRod     0.002
Coral             0.002
NavajoWhite       0.002
PaleGreen         0.002
LightSlateGray    0.002
Name: proportion, Length: 138, dtype: float64

In [ ]:
ecommerce.columns

Index(['Email', 'Address', 'Avatar', 'Avg. Session Length', 'Time on App',
       'Time on Website', 'Length of Membership', 'Yearly Amount Spent'],
      dtype='object')

In [ ]:
df.columns

Index(['nombre', 'edad', 'hijos'], dtype='object')

In [ ]:
ecommerce.isnull().sum()

Email                   0
Address                 0
Avatar                  0
Avg. Session Length     0
Time on App             0
Time on Website         0
Length of Membership    0
Yearly Amount Spent     0
dtype: int64

In [ ]:
from numpy import mean
resumen=ecommerce.groupby('Avatar').agg({'Yearly Amount Spent':['min','max','mean']})
resumen

             Yearly Amount Spent
                             min         max        mean
Avatar
AliceBlue             468.668466  478.584286  473.626376
AntiqueWhite          356.615568  541.972204  465.943767
Aqua                  451.727863  553.601535  502.644032
Aquamarine            382.416108  511.979860  444.797949
Azure                 452.627255  452.627255  452.627255
...                          ...         ...         ...
Wheat                 314.438518  744.221867  551.271616
White                 476.139247  593.156401  516.027238
WhiteSmoke            501.928265  551.023002  524.142151
Yellow                562.082045  562.082045  562.082045
YellowGreen           421.326631  533.396554  460.693239

[138 rows x 3 columns]

In [ ]:
resumen.to_csv("resumen_ecommerce.csv")

In [ ]:
resumen.to_excel("resumen_ecommerce.xlsx")